body {
  text-align: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.8em;
}

h1, h2, h3, h4, h4, h6 {font-family:Tahoma, Geneva, sans-serif; font-weight:bold; color:#103080;}
h1 {font-size: 1.65em;}
h2 {font-size: 1.42em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.15em;}
h6 {font-size: 1em;}

#PageTitle{
	font-weight: bold; font-size: 1.2em; color:white; float: right;margin: 55px 0 0 0;padding-right: 20px; 
}

#OILink{
	color:white;
}

tbody{
	word-break: break-word;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 3px 15px 3px 15px;
}

.row::after {
    clear: both;
}

#header { 
	width: 980px;
	position: relative}

#arc {
	width: 100%;
	height: 92px;
	float: left;
	background: #1b5268 url('../images/oinp_banner_bgr.gif') no-repeat
}
	
#arc form p {
	margin-bottom : 10px; /* IE */
}

#wrapper {
	background-color: none;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	width:1000px;
	margin-top: 10px
}

#home #navbar { /* the main nav bar */
	border-bottom: 8px solid #FFF
}
a#skipNav {
 color: #FFFFFF; /* same color as background */
 text-decoration: none;
 border: none
 }
a#skipNav:link, a#skipNav:visited, a#skipNav:hover { color: #FFF; border: none}
#textlinks a#skipNav:active, #textlinks a#skipNav:focus { color: #17397d; border-right: 1px solid #999}

#textlinks a.last, #navbar p a.last { border: none; padding-right: 0}
#textlinks {
	position: absolute;
	right: 0;
	top: 5px;
	text-align: right;
	margin-right: 0 /* added jun2/09 */
}	
#textlinks a {
	padding: 0 1em 0 .75em;
	border-right: 1px solid #999;
}

#textlinks a#skipNav {
	border: none
}
.navbar, .navbar div, .navbar-brand, .navbar-header {
	min-height: 35px;
	max-height: 35px;
	height: 35px;
	padding-top:2px;
} 

.navbar-brand{
	display:none;
}
  
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
	border-radius: 0;
}

.navbar-inverse{
	background-color:#65060e;
	background-image: none;
}

.navbar-inverse .navbar-nav > li > a {color: #ddd; padding-top:3px !important; padding-bottom:4px !important;}  

.navbar-static-top {
	width:100%;
	border-width: 0 0 1px;
	float:left;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.breadcrumb {
	padding: 0px 3px 5px 6px;
	margin-top: 0px;
	margin-bottom: 0px;  
	list-style: none;
	background-color: #fff;
	border-radius: 4px;
	font-size : .8em;
	font-weight : bold;
	clear:both;
}

.breadcrumb>li+li:before {
	padding: 0 7px;
	color: #ccc;
	content: "\003e";
}

.breadcrumb li.active {
	color: #686868;
}

.nav{
	margin-bottom: 1.5em;
}

.main_content
{
	border:1px #ccc solid;
	padding: 1em;
}

.main_content a{
	text-decoration:underline;
}

#footer {
	clear: both;
	width: 980px;
	padding-top: 20px;
}
	
	
#full_footer { /* changed from orginal to make the footer span the whole bottom area */
	border-top: 1px solid #7f7f7f;
	padding-top: 1em;
	width: 100%}

#footer p { 
	font-weight: bold;
	text-transform: uppercase;
	color: #666;
	font-size: .7em
}
#footer p.right { margin-right: 0}
#footer a { color: #666}	

.right { /* aligns - floats right */
	float: right;
	margin-left: 20px;
	text-align: right;
	margin-right: 0 
}
.left { /* aligns - floats left */
	float: left;
	margin-right: 20px;
	margin-left:0
}
.top { /* removes top margin */
	margin-top: 0
}
.bottom { /* removes bottom margin */
	margin-bottom: 0
}
.center { /* centers */
	text-align: center;
	margin-left: auto;
	margin-right: auto
}
.clear { /* to clear floats */
	clear: both
}

button, input[type="button"] {
  /*opacity: .85; */
  transition: all 0.3s ease 0s;
}
 
button:hover, input[type="button"]:hover {
  opacity: 1;
}

.SectionBox{
	height: 100%;
	border: #ccc 1px solid;
	text-align: center;
}

section[class="SectionBox"] H2{
	font-size:1.5em;
	font-weight: bolder;
	color:#034879;
}

section[class="SectionBox"] div{
	margin: 1.8em 1.8em;
}

section[class="SectionBox"] a{
	font-weight:bold;
}


section[class="SectionBox"] img{
	max-width: 100%;
    -webkit-transition-duration: all 1s ease 0s;
	-moz-transition-duration: all 1s ease 0s; 
    transition:	all 1s ease 0s;
}

section[class="SectionBox"] div:hover img{
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.oinp_panel{
	background-color:#f8f8f8; border-top: 2px solid #ddd; padding: 1em;
}

.oinp_panel_title {
	font-size: 1.5em; font-weight:bold;
}

.bordered-box {
    border: 1px solid #bebebe;
    padding: 10px;
	}
	
.MenuPanelTitle{
	font-family: 'Fjalla One';
	font-size: 1.6em;
	font-weight: bold;
	color: #285076;
	text-transform: uppercase;
	display:block;
}	

.whoiam{
    border: 1px solid #bebebe;
    padding: 10px;	
	margin:1em; 
	padding: 2.2em 1.1em;
}


@media screen and (max-width: 1000px) {
	#wrapper{
		width: 100%;
	}
	
	#header{
		width: 96%;
		margin-left:auto;
		margin-right:auto;
	}
	
	.navbar-nav a
	{
		font-size: .9em;
	}
		
	#footer{
		width: 100%;
	}
}



@media screen and (max-width: 768px) {
	[class*="col-"] {
    float: left;
    padding: 3px 5px 3px 5px;
	}
	
	#PageTitle{
		font-weight: bold; font-size: 1em; color:white; float: right;margin: 65px 0 0 0;padding-right: 10px; 
	}
	
	.navbar, .navbar div, .navbar-brand, .navbar-header {
		 min-height: 100%;
		 max-height: 100%;
		 height: 100%;
	} 
		
	.navbar-brand{
		display:inline;
	}
	
	#OncanLogo{
		display:none;
	}
	
	#textlinks{
		display:none;
	}
	
	#full_footer p[class="right"]{
		float:left;
		margin-left: 0px;
		text-align: left;
	}

	section[class="SectionBox"] div{
		margin: 1.2em 1.2em;
	}
		
	section[class="SectionBox"] h2{
		font-size: 1em;
	}

}



#div_content .alert-danger {
	background-image : none;
	background-color : #fbf5f5;
}

fieldset legend {
	font-family:Verdana, Helvetica, Arial, sans-serif ;
	font-size:14px;
	font-weight:bold;
	//background-color : #eee;
} 

.subTitle {
    font-weight: bold;
}

.scoreContainer select.disable {
	color: gainsboro;
}

/*
button {
    -webkit-transition-duration: all 1s ease 0s;
	-moz-transition-duration: all 1s ease 0s; 
    transition:	all 1s ease 0s;
}

button:hover {
	background: #000;
	opacity: .8;
}
*/


.gate-alert {
	color : red;
}

.captcha-box {
	min-height:320px;
}


.btn-info {
	background-color: #2A7A93;
    background-image: linear-gradient(to bottom,#5bc0de 0,#176076 100%);
    color: #FFFFFF;
}


form , div[tabindex='0']:focus{
	padding-right: 15px;
	padding-left: 15px;
}

label.radio-lb {
	margin-left : 10px;
	font-weight : normal;
}




